<nav class="md:hidden shadow bg-white px-4 py-4">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
            <div>
                <a href="#" class="inline-block align-middle">
                    <img class="w-28" src="" alt="" />
                </a>
            </div>
        </div>
        <div class="col-span-6">
            <div class="text-right">
                <a class="inline-block align-middle" href="#">
                    <img class="w-6" src="" alt="" />
                </a>
            </div>
        </div>
    </div>
</nav>
