<aside id="sidebar" class="hidden md:block bg-gray-900 h-full px-10">
    <a href="#" id="close-menu" class="inline-block md:hidden">
        <img src="" alt="" />
    </a>
    <div class="sticky h-screen top-0 py-20 flex flex-wrap content-center">
        <div class="w-full">
            <a href="#">
                <img
                    class="w-32 md:w-36"
                    src="assets/images/logo-white.png"
                    alt="logo"
                />
            </a>
        </div>
        <div>
            <ul class="w-full mt-20">
                <li class="mb-5" *ngFor="let feature of features">
                    <a
                        [routerLink]="[feature.path]"
                        class="text-gray-300 hover:text-white"
                    >
                        {{ feature.name }}
                    </a>
                </li>
            </ul>
            <p class="text-gray-300 mt-5">Copy 2023</p>
        </div>
    </div>
</aside>
