<nav class="md:hidden shadow bg-white px-4 py-4">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
            <div>
                <a href="#" class="inline-block align-middle">
                    <img class="w-28" src="" alt="" />
                </a>
            </div>
        </div>
        <div class="col-span-6">
            <div class="text-right">
                <a class="inline-block align-middle" href="#">
                    <img class="w-6" src="" alt="" />
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="xl:container mx-auto">
    <div class="grid grid-cols-12 gap-0">
        <div class="col-span-12 md:col-span-4 lg:col-span-3">
            <aside
                id="sidebar"
                class="hidden md:block bg-gray-900 h-full px-10"
            >
                <a href="#" id="close-menu" class="inline-block md:hidden">
                    <img src="" alt="" />
                </a>
                <div
                    class="sticky h-screen top-0 py-20 flex flex-wrap content-center"
                >
                    <div class="w-full">
                        <a href="#">
                            <img class="w-32 md:w-36" src="#" alt="" />
                        </a>
                    </div>
                    <div>
                        <ul class="w-full mt-20">
                            <li class="mb-5">
                                <a
                                    href=""
                                    class="text-gray-300 hover:text-white"
                                >
                                    Home
                                </a>
                            </li>
                            <li class="mb-5">
                                <a
                                    href=""
                                    class="text-gray-300 hover:text-white"
                                >
                                    Home
                                </a>
                            </li>
                            <li class="mb-5">
                                <a
                                    href=""
                                    class="text-gray-300 hover:text-white"
                                >
                                    Home
                                </a>
                            </li>
                            <li class="mb-5">
                                <a
                                    href=""
                                    class="text-gray-300 hover:text-white"
                                >
                                    Home
                                </a>
                            </li>
                        </ul>
                        <p class="text-gray-300 mt-5">Copy 2023</p>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-span-12 md:col-span-8 lg:col-span-9">
            <main class="p-4 md:p-5">
                <article class="bg-white rounded shadow p-6 md:p-7 lg:p-9">
                    <a class="font-bold text-red-500" href="#">Tech</a>
                    <h1
                        class="font-black text-xl sm:text-2xl md:text-3xl lg:text-5xl mt-2"
                    >
                        The quick brown fox jumps over the lazy dog.
                    </h1>
                    <div
                        class="mt-4 mb-3 text-sm text-gray-700 flex items-center"
                    >
                        <img
                            class="rounded-full w-7 h-7 inline mr-2"
                            src="#"
                            alt=""
                        />
                        <a class="font-bold text-gray-600" href="#">John Doe</a>
                        <span class="ml-3">
                            <img class="inline mr-1 -mt-0.5" src="#" alt="" />
                            37 mins ago
                        </span>
                    </div>
                    <div
                        class="prose prose-sm sm:prose lg:prose lg:prose-lg mx-auto mt-4 md:mt-6"
                    >
                        <p>Lorem ipsum</p>
                    </div>
                </article>
                <article class="bg-white rounded shadow p-6 md:p-7 lg:p-9">
                    <a class="font-bold text-red-500" href="#">Tech</a>
                    <h1
                        class="font-black text-xl sm:text-2xl md:text-3xl lg:text-5xl mt-2"
                    >
                        The quick brown fox jumps over the lazy dog.
                    </h1>
                    <div
                        class="mt-4 mb-3 text-sm text-gray-700 flex items-center"
                    >
                        <img
                            class="rounded-full w-7 h-7 inline mr-2"
                            src="#"
                            alt=""
                        />
                        <a class="font-bold text-gray-600" href="#">John Doe</a>
                        <span class="ml-3">
                            <img class="inline mr-1 -mt-0.5" src="#" alt="" />
                            37 mins ago
                        </span>
                    </div>
                    <div
                        class="prose prose-sm sm:prose lg:prose lg:prose-lg mx-auto mt-4 md:mt-6"
                    >
                        <p>Lorem ipsum</p>
                    </div>
                </article>
                <article class="bg-white rounded shadow p-6 md:p-7 lg:p-9">
                    <a class="font-bold text-red-500" href="#">Tech</a>
                    <h1
                        class="font-black text-xl sm:text-2xl md:text-3xl lg:text-5xl mt-2"
                    >
                        The quick brown fox jumps over the lazy dog.
                    </h1>
                    <div
                        class="mt-4 mb-3 text-sm text-gray-700 flex items-center"
                    >
                        <img
                            class="rounded-full w-7 h-7 inline mr-2"
                            src="#"
                            alt=""
                        />
                        <a class="font-bold text-gray-600" href="#">John Doe</a>
                        <span class="ml-3">
                            <img class="inline mr-1 -mt-0.5" src="#" alt="" />
                            37 mins ago
                        </span>
                    </div>
                    <div
                        class="prose prose-sm sm:prose lg:prose lg:prose-lg mx-auto mt-4 md:mt-6"
                    >
                        <p>Lorem ipsum</p>
                    </div>
                </article>
                <article class="bg-white rounded shadow p-6 md:p-7 lg:p-9">
                    <a class="font-bold text-red-500" href="#">Tech</a>
                    <h1
                        class="font-black text-xl sm:text-2xl md:text-3xl lg:text-5xl mt-2"
                    >
                        The quick brown fox jumps over the lazy dog.
                    </h1>
                    <div
                        class="mt-4 mb-3 text-sm text-gray-700 flex items-center"
                    >
                        <img
                            class="rounded-full w-7 h-7 inline mr-2"
                            src="#"
                            alt=""
                        />
                        <a class="font-bold text-gray-600" href="#">John Doe</a>
                        <span class="ml-3">
                            <img class="inline mr-1 -mt-0.5" src="#" alt="" />
                            37 mins ago
                        </span>
                    </div>
                    <div
                        class="prose prose-sm sm:prose lg:prose lg:prose-lg mx-auto mt-4 md:mt-6"
                    >
                        <p>Lorem ipsum</p>
                    </div>
                </article>
                <div class="grid grid-cols-12 gap-0 mt-4 md:mt-5">
                    <div class="col-span-6 text-right pr-4">
                        <a
                            href="#"
                            class="font-bold text-gray-700 hover:text-red-500 text-base md:text-lg"
                        >
                            <img class="inline" src="#" alt="" />
                            Previous Post
                        </a>
                    </div>
                    <div class="col-span-6 text-right pr-4">
                        <a
                            href="#"
                            class="font-bold text-gray-700 hover:text-red-500 text-base md:text-lg"
                        >
                            <img class="inline" src="#" alt="" />
                            Next Post
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
